
.titulo {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#39dddd; 
    text-align:center;
    color: white;

  }
  .imglogo { 
    text-align: center;
    width: 75px;
    height: 75px;
    position:relative; 
    top: 3px;
    left: 0px;
    background-color:black(181, 22, 22);
  }

  .boton1{ 
    background-color: #72bfe2;
    color: #2eddc0;
    font-family: cursive;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    
  }
  .boton2{
    background-color: #72bfe2;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 20px;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #39dddd;
    color:black;
    text-align:center;

  }
  h2{
    background-color: #39dddd;
    color: black;
    text-align: center;
  }
  h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #39dddd;
    color:black;
    text-align:center;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
  }
  